@font-face {
    font-family: DaFont;
    src: url("JOURNAL.TTF");
}
h1{
  font-family: "DaFont";
  font-size: 50;
  text-decoration: underline;
}

h3{
  font-family: "DaFont";
  font-size: 50;
}

h2{
  font-family: "DaFont";
  font-size: 50;
}

li{
  color: #000000;
  font-family: "DaFont";
  font-size: 30;
}

body{
  background: rgba(145,136,158,1);
  background: -moz-linear-gradient(top, rgba(145,136,158,1) 0%, rgba(68,20,68,1) 71%, rgba(48,0,48,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(145,136,158,1)), color-stop(71%, rgba(68,20,68,1)), color-stop(100%, rgba(48,0,48,1)));
  background: -webkit-linear-gradient(top, rgba(145,136,158,1) 0%, rgba(68,20,68,1) 71%, rgba(48,0,48,1) 100%);
  background: -o-linear-gradient(top, rgba(145,136,158,1) 0%, rgba(68,20,68,1) 71%, rgba(48,0,48,1) 100%);
  background: -ms-linear-gradient(top, rgba(145,136,158,1) 0%, rgba(68,20,68,1) 71%, rgba(48,0,48,1) 100%);
  background: linear-gradient(to bottom, rgba(145,136,158,1) 0%, rgba(68,20,68,1) 71%, rgba(48,0,48,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91889e', endColorstr='#300030', GradientType=0 );
  font size: 60;  
}
