@font-face {
    font-family: DaFont;
    src: url("JOURNAL.TTF");
}
h1{
  font-family: "DaFont";
  font-size: 50;
  text-decoration: underline;
  color: #E5E4E2;
}

h3{
  font-family: "DaFont";
  font-size: 50;
}

h2{
  font-family: "DaFont";
  font-size: 50;
}

li{
  color: #000000;
  font-family: "DaFont";
  font-size: 30;
}

body{
    background: rgba(40,40,96,1);
    background: -moz-linear-gradient(top, rgba(40,40,96,1) 0%, rgba(25,25,81,1) 47%, rgba(20,20,76,1) 61%, rgba(10,10,66,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(40,40,96,1)), color-stop(47%, rgba(25,25,81,1)), color-stop(61%, rgba(20,20,76,1)), color-stop(100%, rgba(10,10,66,1)));
    background: -webkit-linear-gradient(top, rgba(40,40,96,1) 0%, rgba(25,25,81,1) 47%, rgba(20,20,76,1) 61%, rgba(10,10,66,1) 100%);
    background: -o-linear-gradient(top, rgba(40,40,96,1) 0%, rgba(25,25,81,1) 47%, rgba(20,20,76,1) 61%, rgba(10,10,66,1) 100%);
    background: -ms-linear-gradient(top, rgba(40,40,96,1) 0%, rgba(25,25,81,1) 47%, rgba(20,20,76,1) 61%, rgba(10,10,66,1) 100%);
    background: linear-gradient(to bottom, rgba(40,40,96,1) 0%, rgba(25,25,81,1) 47%, rgba(20,20,76,1) 61%, rgba(10,10,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282860', endColorstr='#0a0a42', GradientType=0 );
  font size: 60;  
}
